.product-heading {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
}

.product-container {
  /* We first create a flex layout context */
  display: flex;
  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-direction: row;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  
  padding: 0;
  margin: 0;
  list-style: none;
}

.product-item {
  background: #000;
  padding: 5px;
  width: 200px;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 200px;
  color: #fff;
  font-size: 3em;
  text-align: center;
}

@media screen and (max-width: 960px) {

  .product-container {
    flex-wrap: wrap;
  }
}